[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:satiani/oh-my-zsh.git
[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "git-vim"]
	path = git-vim
	url = git://github.com/motemen/git-vim.git
