snippet npdb "Nose tools pdb" b
from nose.tools import set_trace; set_trace()
endsnippet

snippet oneoff "One off script" b
from app import create_app
from config import DebugConfig

app = create_app(DebugConfig)
with app.app_context():
    ${1}
endsnippet
